<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Board</title>
</head>
<body>
    <div>
        <table width="80%" border="1" cellspacing="0" align="center">
            <colgroup>
                <col width="60px" />
                <col width="" />
                <col width="120px" />
            </colgroup>
            <thead>
            <!-- LIST HEADER -->
            <tr>
                <th scope="col"><span>번호</span></th>
                <th scope="col" class="title" onclick="goPage()"><span>제목</span></th>
                <th scope="col"><span>글쓴이</span></th>
            </tr>
            <!-- /LIST HEADER -->
            </thead>


            <!-- cursor:pointer 추가로 제목에 마우스를 올릴시 커서 모양이 바뀌도록 하였음. -->
            <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.idx}">1</td>
                <td style="cursor:pointer;" onclick="goPage()" th:text="${board.title}">Thymus Thymi</td>
                <td th:text="${board.cnuUser.name}">12</td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        function goPage() {
            location.href='content';
        }
    </script>
</body>
</html>